<h1 class="mt-4">Promociones</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Inicio</li>
    <li class="breadcrumb-item">Promociones</li>
    <li class="breadcrumb-item active">Promoción</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Registro de cliente para la promoción
    </div>
    <div class="card-body">
        <form>
            <div class="form-floating mb-3">
                <label for="inputEmail">Código de promoción</label>
                <select class="form-control" id="COD_PRO" name="COD_PROMOCION" placeholder="Código de promoción" required>
                    <option value="">--Seleccione el código de la promoción--</option>
                    <option value="1">00381</option>
                    <option value="2">00382</option>
                    <option value="3">00383</option>
                    <option value="4">00384</option>
                    <option value="5">00385</option>
                </select>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="jaylli" />
                <label for="inputEmail">Nombre del cliente</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="ronaldo" />
                <label for="inputEmail">Apellidos del cliente</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="jaylli" />
                <label for="inputEmail">Pelicula</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="100.5Kg" />
                <label for="inputEmail">Cantidad de entradas</label>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                <a class="small" href="#">Cancelar</a>
                <a class="btn btn-primary" href="#">Agregar</a>
            </div>
        </form>
    </div>
</div>
