@{
    ViewData["Title"] = "Películas CUEVANA";
}

<section class="inicio">

    <div class="text-inicio">
        <h1><b>CUEVANITA</b></h1>
        <h2>¡Bienvenido/a a nuestra página administrativa!</h2>
        <p>
            Somos una plataforma diseñada para brindarte una experiencia eficiente y 
            cómoda en la gestión de tus procesos administrativos. Nuestra misión es 
            facilitarte el manejo de tu información y documentación para que puedas 
            enfocarte en lo que realmente importa: hacer crecer tu negocio.
        </p>
        <a href="http://localhost:5282" class="btn btn-primary">Información</a>
    </div>
</section>