<h1 class="mt-4">Administrador de Cines</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Inicio</li>
    <li class="breadcrumb-item active">Cines</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <b>Lista de Cines</b>
    </div>
    <div class="card-body">
       
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Sede</th>
                    <th>Horario de atencion</th>
                    <th>Aforo</th>
                    <th>Cant. de Salas</th>
                    <th>Clasificación</th>
                    <th>Telefono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cine Star Sur</td>
                    <td>Av. los Héroes 240, San Juan de Miraflores 15801</td>
                    <td>De 14:00 a 23:00</td>
                    <td>700</td>
                    <td>15</td>
                    <td>3.5</td>
                    <th>(01) 7109439</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cine Planet - Mall del Sur</td>
                    <td>Carr. Atocongo, San Juan de Miraflores 15801</td>
                    <td>De 14:00 a 23:00</td>
                    <td>3000</td>
                    <td>13</td>
                    <td>4.3</td>
                    <th>(01) 5862166</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cine Planet - Primavera</td>
                    <td>Av. Angamos Este 2686, Lima 15036</td>
                    <td>De 14:00 a 23:00</td>
                    <td>5000</td>
                    <td>12</td>
                    <td>4.1</td>
                    <th>(01) 6869912</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cine Planet - Caminos del Inca</td>
                    <td>Jirón Monterrey 170, Santiago de Surco 15038</td>
                    <td>De 14:00 a 23:00</td>
                    <td>4000</td>
                    <td>12</td>
                    <td>4.7</td>
                    <th>(01) 72459712</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cinemark - Jockey Plaza</td>
                    <td>Centro Comercial Jockey Plaza, Av. Javier Prado Este 4200, Santiago de Surco 15023</td>
                    <td>De 14:00 a 23:00</td>
                    <td>4020</td>
                    <td>16</td>
                    <td>4.3</td>
                    <th>(01) 4373707</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cinepolis - Plaza Norte</td>
                    <td>Plaza Norte, Av. Tomás Valle, Independencia 15311</td>
                    <td>De 13:00 a 23:59</td>
                    <td>5020</td>
                    <td>18</td>
                    <td>4.3</td>
                    <th>(01) 6283607</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cinepolis - Santa Catalina</td>
                    <td>Carlos Villarán 500, La Victoria 15034</td>
                    <td>De 15:00 a 23:59</td>
                    <td>4200</td>
                    <td>15</td>
                    <td>4.2</td>
                    <th>(01) 6283607</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cine Star - Premium</td>
                    <td>Los Proceres 18, Lima 15057</td>
                    <td>De 13:00 a 23:59</td>
                    <td>4200</td>
                    <td>15</td>
                    <td>4.2</td>
                    <th>(01) 6283607</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cine Star - Benavides</td>
                    <td>Av. Alfredo Benavides 4981, Santiago de Surco 15039</td>
                    <td>De 13:00 a 23:59</td>
                    <td>4200</td>
                    <td>15</td>
                    <td>3.7</td>
                    <th>(01) 6283607</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cine Star - Comas</td>
                    <td>Abraham Valdelomar 828, Comas 15326</td>
                    <td>De 12:00 a 23:59</td>
                    <td>6200</td>
                    <td>21</td>
                    <td>3.4</td>
                    <th>(01) 1369606</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cine Planet - Villa Maria del Triunfo</td>
                    <td>Av Pachacutec 3721, Lima 15809</td>
                    <td>De 13:00 a 23:59</td>
                    <td>6200</td>
                    <td>22</td>
                    <td>4.2</td>
                    <th>(01) 3361206</th>
                    <td>
                        <a href="#" class="btn btn-edit">Llamar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="#" class="btn btn-primary">Reservar</a>
    </div>
</div>
