<h1 class="mt-4">Administrador de Eventos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Inicio</li>
    <li class="breadcrumb-item active">Eventos</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <b>Lista de Eventos</b>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Duración</th>
                    <th>Lugar</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>URL</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>La noche de Cortos</td>
                    <td>16/12/2023</td>
                    <td>2h</td>
                    <td>Av. Javier Prado Este 4200, Santiago de Surco 15023</td>
                    <td>Películas clásicas de diferentes épocas y géneros.</td>
                    <td>Festival de Cine</td>
                    <td>www.cortsos.com</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Noche de terror en el cine</td>
                    <td>26/10/2022</td>
                    <td>4h</td>
                    <td>Jr. Loa 119, Lima 07011</td>.</td>
                    <td>Este evento es perfecto para los amantes del cine de terror.</td>
                    <td>Proyecciones especiales</td>
                    <td>www.cinehorror.com</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Ciclo de clásicos del cine mudo</td>
                    <td>26/10/2022</td>
                    <td>3h</td>
                    <td>Av Paseo de la República 1341, Chorrillos 15064</td>
                    <td>Este evento es para aquellos amantes del cine que buscan una experiencia única</td>
                    <td>Retrospectivas</td>
                    <td>www.cinemudo.com</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Premiere exclusiva de la última película de Marvel</td>
                    <td>26/10/2022</td>
                    <td>3h</td>
                    <td>MallPlaza, Ca. 2 126, Comas 15314</td>
                    <td>Este evento sería para fanáticos de Marvel.</td>
                    <td>Preestrenos</td>
                    <td>www.marvelpremiere.com</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Cine en la playa</td>
                    <td>26/10/2022</td>
                    <td>4h</td>
                    <td>Av. Aviación 946, La Victoria 15018</td>
                    <td>Este evento sería para los amantes de la playa.</td>
                    <td>Cine al aire libre</td>
                    <td>www.cineplaya.com</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Fiesta de disfraces en el cine</td>
                    <td>26/10/2022</td>
                    <td>5h</td>
                    <td>WWF6+8HR, Av. la Marina, San Miguel 15088</td>
                    <td>Este evento sería una oportunidad para los espectadores de vestirse con sus disfraces favoritos y disfrutar de una noche de cine. </td>
                    <td>Proyecciones especiales</td>
                    <td>www.cinedisfraz.com</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="#" class="btn btn-primary">Nuevo</a>
    </div>
</div>