<h1 class="mt-4">Administrador de Películas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Inicio</li>
    <li class="breadcrumb-item active">Películas</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <b>Lista de Películas</b>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Genero</th>
                    <th>Duración</th>
                    <th>Fecha de Estreno</th>
                    <th>Clasificación</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Avatar: The Way of Water</td>
                    <td>Ciencia ficción</td>
                    <td>192 min</td>
                    <td>16/12/2022</td>
                    <td>+14</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>Black Panther: Wakanda Forever</td>
                    <td>Superhéroes</td>
                    <td>161 min</td>
                    <td>26/10/2022</td>
                    <td>APT</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        It Capítulo Dos
                    </td>
                    <td>Terror</td>
                    <td>169 min</td>
                    <td>06/09/2019</td>
                    <td>+14</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Super Mario Bros: La película
                    </td>
                    <td>Animación</td>
                    <td>92 min</td>
                    <td>05/04/2023</td>
                    <td>APT</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Child's Play
                    </td>
                    <td>Terror</td>
                    <td>87 min</td>
                    <td>09/11/1988</td>
                    <td>+14</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Rápidos y furiosos 9
                    </td>
                    <td>Acción</td>
                    <td>150 min</td>
                    <td>27/07/2021</td>
                    <td>+14</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Toy Story 4
                    </td>
                    <td>Aventura</td>
                    <td>100 min</td>
                    <td>21/06/2019</td>
                    <td>+14</td>
                    <td>
                        <a href="#" class="btn btn-edit">Editar</a>
                        <a href="#" class="btn btn-delet">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="#" class="btn btn-primary">Nuevo</a>
    </div>
</div>