<h1 class="mt-4">Administrador de Promociones</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Inicio</li>
    <li class="breadcrumb-item active">Promociones</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <b>Lista de Promociones</b>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Código de Promoción</th>
                    <th>Promoción</th>
                    <th>Tipo de Pelicula</th>
                    <th>Condiciones</th>
                    <th>Validez</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00381</td>
                    <td>2 X 1</td>
                    <td>Peliculas 2D / 2XD</td>
                    <td>Online</td>
                    <td>Hasta el 10/06/2023</td>
                    <td>
                        <a href="#" class="btn btn-edit">Seleccionar</a>
                        <a href="#" class="btn btn-delet">Ignorar</a>
                    </td>
                </tr>
                <tr>
                    <td>00382</td>
                    <td>60% DESCUENTO</td>
                    <td>Peliculas animadas</td>
                    <td>Online y Presencial</td>
                    <td>Hasta 30/05/2023</td>
                    <td>
                        <a href="#" class="btn btn-edit">Seleccionar</a>
                        <a href="#" class="btn btn-delet">Ignorar</a>
                    </td>
                </tr>
                <tr>
                    <td>00383</td>
                    <td>ENTRADA GRATIS</td>
                    <td>Todas las peliculas</td>
                    <td>Online y Presencial, 2 semanas luego del estreno</td>
                    <td>Hasta 15/07/2023</td>
                    <td>
                        <a href="#" class="btn btn-edit">Seleccionar</a>
                        <a href="#" class="btn btn-delet">Ignorar</a>
                    </td>
                </tr>
                <tr>
                    <td>00384</td>
                    <td>20% DESCUENTO</td>
                    <td>Peliculas 3D</td>
                    <td>Presencial</td>
                    <td>Hasta 05/05/2023</td>
                    <td>
                        <a href="#" class="btn btn-edit">Seleccionar</a>
                        <a href="#" class="btn btn-delet">Ignorar</a>
                    </td>
                </tr>
                <tr>
                    <td>00385</td>
                    <td>4 x 5</td>
                    <td>Peliculas de Terror</td>
                    <td>Online y Presencial, en semana de estreno</td>
                    <td>Hasta 12/06/2023</td>
                    <td>
                        <a href="#" class="btn btn-edit">Seleccionar</a>
                        <a href="#" class="btn btn-delet">Ignorar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="#" class="btn btn-primary">Actualizar</a>
    </div>
</div>

